@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro_404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="/Content/bootstrap.css" />
</head>
<body class="no-skin">
    <div class="main-container" id="main-container" style="text-align:center">
         <h1 style="margin-top:100px">
             <img src="~/Content/Image/error/404.png" alt="404"/>
         </h1>
        <div>
            <h4>海面雾气太大</h4>
            <h4>受天气影响，该界面暂无法显示</h4>
            <h5>
                <img  src="~/Content/Image/error/error-bg.png" style="padding:20px 0 10px;width:85%;"/>
            </h5>
        </div>
    </div>
</body>
</html>

